body {
    color: black;
    font-family: georgia;
}

.login-btn {
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: rgb(131, 72, 0);
    border-radius: 10px;
    border: 2px solid black;
    transition: transform 0.3s;
}

.login-btn:hover {
    color: white;
    background-color: rgb(131, 72, 0);
    transform: scale(1.1);
}

.nav-text-1 {
    text-decoration: none;
    font-size: 19px;
    color: rgb(131, 72, 0);
}

.nav-text-2 {
    text-decoration: none;
    font-size: 14px;
    color: rgb(131, 72, 0);
}

.nav-button {
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.3s;
}

.nav-button:hover {
    color: white;
    background-color: rgb(131, 72, 0);
    transform: scale(1.1);
}

.text-content {
     width: 100%;
}

.home-image {
    max-height: 200px;
    height: 100%;
    margin: auto;
    display: block;
    border: 3px solid rgb(131, 72, 0);
    border-radius: 10px;
}